.recipes {
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  justify-content: space-between;
  column-gap: 1rem;
  row-gap: 2rem;

  inline-size: 100%;
}

@media (max-width: 992px) {
  .recipes {
    grid-template-columns: repeat(auto-fill, 22rem);
  }
}

@media (max-width: 768px) {
  .recipes {
    grid-template-columns: repeat(auto-fill, 100%);
  }
}
