.recipe {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  block-size: auto;

  .recipe-image-wrapper {
    position: relative;

    block-size: 12rem;
    inline-size: 100%;

    border-radius: 0.8rem;
    overflow: hidden;

    .rating {
      position: absolute;
      inset-block-start: 0.5rem;
      inset-inline-start: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;

      block-size: 2rem;
      inline-size: 3rem;

      border-radius: 0.8rem;

      background-color: var(--text-quaternary);

      opacity: 0.8;

      font-size: 0.8rem;
    }

    img {
      transition: scale 0.2s;
    }

    &:hover {
      img {
        scale: 1.2;
      }
    }
  }

  .title {
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 800;
  }

  .info {
    display: flex;
    align-items: flex-end;
    gap: 0.3rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media (max-width: 992px) {
  .recipe .recipe-image-wrapper {
    block-size: 16rem;
  }
}

@media (max-width: 768px) {
  .recipe .recipe-image-wrapper {
    block-size: 22rem;
  }
}
