.recipe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding-bottom: 2rem;

  h3 {
    font-size: 2.2rem;
  }

  .ingredients,
  .instructions {
    font-weight: 800;

    .ingredients-list,
    .instructions-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      list-style-type: circle;

      font-weight: 500;

      margin-inline-start: 3rem;
      margin-block-start: 0.6rem;
    }
  }

  .title {
    font-weight: 800;
  }
}
