.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  block-size: 100%;
  inline-size: 100%;

  p {
    font-size: clamp(1.5rem, 1.125rem + 1.875vw, 3rem);
  }

  .actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
