:root {
  --full-width: 75rem;
  --full-width-padding-inline: calc(max(100% - var(--full-width), 2rem) / 2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: 14rem 1fr;

  background-color: var(--bg-base);
  color: var(--text-primary);

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-block-size: 100dvh;

  > * {
    padding: 2rem 1rem;
  }

  &.shrinked {
    grid-template-columns: 6rem 1fr;
  }
}

a {
  text-decoration: none;
}

input,
textarea,
select,
button,
a,
label {
  background-color: inherit;
  color: inherit;
  font: inherit;
}
