.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  .dialog {
    background: var(--bg-surface-3);

    border-radius: 0.8rem;

    padding: 1.5rem;

    inline-size: clamp(18.75rem, calc(15.313rem + 17.188vw), 32.5rem);

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    animation: fadeIn 0.2s ease-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
